# Dependency directories
node_modules
coverage

# Lock files
pnpm-lock.yaml
package-lock.json
yarn.lock

# Editor/IDE settings
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
